.pw-100 {
	width: 100px;
}

.ph-150 {
	height: 150px;
}

.categoryDropdown:hover .subCategoryDropdown {
	display: block;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	position: absolute;
	top: -8px;
	left: -101%;
	display: none;
}

.dropdown-submenu:hover .dropdown-menu {
	display: block;
}
